<!DOCTYPE html>
<html>
<head>
	<title>node-boilerplate</title>
</head>
<body>
	<h2>Batman V Superman</h2>
	<form method="post" action="/index">
		<input type="text" name="name">
		<button type="submit">Submit</button>
	</form>
</body>
</html>